@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  height: 100vh;
  padding: 0 2rem;
}

main > :nth-child(2) {
  grid-row: 2;
}
main > :nth-child(3) {
  grid-row: 3;
}
@media (max-width:400px) {
  main {
    padding: 0 0.5rem;
  }

  html {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}



body * {
  font-family: 'Poppins', 'sans-serif';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
