@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #060404;
    --background: #fdfcfc;
    --primary: #a38375;
    --secondary: #c6caaf;
    --accent: #9fb48e;
  }
  .dark {
    --text: #fbf9f9;
    --background: #030202;
    --primary: #8a6a5c;
    --secondary: #4c5035;
    --accent: #5d714b;
  }
}


main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main > :nth-child(2) {
  grid-row: 2;
}

body * {
  font-family: 'Poppins', 'sans-serif';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
